.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 40px;
    box-shadow: 10px,10px,black;
    margin-top: 20px;
}
img{
    max-width: 500px;
    border-radius: 50px;
    width: 400px;
   
}

body{
    background-color: rgb(154, 109, 206);
}
.head{
    text-align: center;
    background-color: grey;
    margin-top: -8px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding:2px
}
.heading{
    font-size:45px;
    color: rgb(24, 221, 155);
    background-color: rgb(20, 18, 18);
}